@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-coal-500 text-lg text-light m-0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active>a{
  @apply font-bold border-l-4 border-yellow-400 px-2;
}

ul:hover>li>a{
  @apply font-light border-l-transparent;
}

nav>ul>li>a{
  @apply border-l-4 border-opacity-0 px-2;
}
nav>ul>li:hover>a{
  @apply font-bold border-l-4 border-yellow-500 px-2;
}

form .form-input{
  @apply border-2 border-transparent bg-transparent w-full my-7 py-5 px-6 text-2xl;
  border-bottom: 4px solid #F4F2F0;
}
form .form-input:focus{
  @apply border-2 border-yellow-400 border-opacity-20 bg-coal-400 outline-none;
  border-bottom: 4px solid #FACC15;
}

.section-header{
  @apply text-4xl xl:text-6xl border-l-8 border-yellow-400 font-bold pl-4;
}

.faq-wrapper{
  @apply max-w-3xl;
}
.faq-question {
  @apply w-full px-6 py-3 font-bold text-3xl bg-coal-600;
}
.faq-question.opend {
  @apply bg-coal-700;
}
.faq-question.opend:hover {
  @apply bg-coal-600;
}
.faq-question:hover {
  @apply cursor-pointer bg-coal-700;
}
.faq-answear {
  max-height: 0;
  @apply w-full px-11 border-b-2 border-yellow-400 mb-6 overflow-hidden;
}
.faq-answear.show{
  max-height: 9999px !important;
  @apply py-4;
}

#projects-section,
#about-me-section,
#contact-section,
#faq-section {
  @apply scroll-mt-5;
}