@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-coal-500 text-lg text-light m-0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active>a{
  @apply font-bold border-l-4 border-yellow-400 px-2;
}

nav>ul>li>a{
  @apply border-l-4 border-opacity-0 px-2;
}
nav>ul>li:hover>a{
  @apply font-bold border-l-4 border-yellow-500 px-2;
}

form .form-input{
  @apply border-2 border-transparent bg-transparent w-full my-7 py-5 px-6 text-2xl;
  border-bottom: 4px solid #F4F2F0;
}
form .form-input:focus{
  @apply border-2 border-yellow-400 border-opacity-20 bg-coal-400 outline-none;
  border-bottom: 4px solid #FACC15;
}

.section-header{
  @apply text-4xl xl:text-6xl border-l-8 border-yellow-400 font-bold pl-4;
}