@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-800 text-lg text-gray-300 m-0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  @apply text-orange-500;
}